<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="OFF" monitorInterval="60">
	<Loggers>
		<Root level="error">
			<!--
			<AppenderRef ref="Console" />
			 -->
			<AppenderRef ref="DebugFile" />
			<AppenderRef ref="ErrorFile" />
		</Root>
		<!--
		<Logger name="org.apache.commons.beanutils" level="error" additivity="false">
			<AppenderRef ref="ErrorFile" />
		</Logger>
	 	-->
		<Logger name="com.aswishes.wn" level="debug" additivity="false">
			<!--
			-->
			<AppenderRef ref="Console" />
			<AppenderRef ref="DebugFile" />
			<AppenderRef ref="ErrorFile" />
		</Logger>
		<Logger name="rs" level="debug" additivity="false">
			<!--
			-->
			<AppenderRef ref="Console" />
			<AppenderRef ref="RsFile" />
		</Logger>
		<Logger name="upgrade" level="debug" additivity="false">
			<!--
			-->
			<AppenderRef ref="Console" />
			<AppenderRef ref="UpgradeFile" />
		</Logger>
		<Logger name="flow" level="debug" additivity="false">
			<!--
			-->
			<AppenderRef ref="Console" />
			<AppenderRef ref="FlowFile" />
		</Logger>
	</Loggers>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p %m (%F:%L) %n" />
		</Console>

		<RollingFile name="DebugFile" filename="${sys:catalina.home}/logs/tms.log" filePattern="${sys:catalina.home}/logs/tms.log.%i">
			<PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p %m (%F:%L) %n" />
			<ThresholdFilter level="debug" onMatch="NEUTRAL" onMismatch="DENY"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="ErrorFile" filename="${sys:catalina.home}/logs/tmserror.log" filePattern="${sys:catalina.home}/logs/tmserror.log.%i">
			<PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p %m (%F:%L) %n" />
			<ThresholdFilter level="error" onMatch="NEUTRAL" onMismatch="DENY"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>

		<RollingFile name="RsFile" filename="${sys:catalina.home}/logs/tms-rs.log" filePattern="${sys:catalina.home}/logs/tms-rs.log.%i">
			<PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p %m (%F:%L) %n" />
			<ThresholdFilter level="debug" onMatch="NEUTRAL" onMismatch="DENY"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<RollingFile name="UpgradeFile" filename="${sys:catalina.home}/logs/tms-upgrade.log" filePattern="${sys:catalina.home}/logs/tms-upgrade.log.%i">
			<PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p %m (%F:%L) %n" />
			<ThresholdFilter level="debug" onMatch="NEUTRAL" onMismatch="DENY"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
		<RollingFile name="FlowFile" filename="${sys:catalina.home}/logs/tms-flow.log" filePattern="${sys:catalina.home}/logs/tms-flow.log.%i">
			<PatternLayout pattern="%d{yyyy/MM/dd HH:mm:ss,SSS} %-5p %m (%F:%L) %n" />
			<ThresholdFilter level="debug" onMatch="NEUTRAL" onMismatch="DENY"/>
			<Policies>
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>
</Configuration>