<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="
		http://www.springframework.org/schema/task 
		http://www.springframework.org/schema/task/spring-task.xsd 
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd 
		http://www.springframework.org/schema/jee 
		http://www.springframework.org/schema/jee/spring-jee.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/cache 
		http://www.springframework.org/schema/cache/spring-cache.xsd ">
	
   	<!-- 定义受环境影响易变的变量 -->
   	<context:property-placeholder location="classpath:res-${running.env}/app.properties"/>
	
	<!-- 使用annotation 自动注册bean,并保证@Required,@Autowired的属性被注入 -->
   	<context:component-scan base-package="com.aswishes.wn"/>
   	
   	<!-- task任务扫描注解 -->
   	<task:annotation-driven/>
   	
	<!-- 数据源配置,使用应用内的DBCP数据库连接池 -->
   	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
      	<!-- Connection Info -->
      	<property name="driverClassName" value="${jdbc.driver}" />
      	<property name="url" value="${jdbc.url}" />
      	<property name="username" value="${jdbc.username}" />
      	<property name="password" value="${jdbc.password}" />

	   	<!-- Connection Pooling Info -->
	   	<property name="initialSize" value="10"/>
    	<property name="maxIdle" value="${dbcp.maxIdle}" />
    	<property name="maxTotal" value="${dbcp.maxTotal}" />
      	 
      	<!-- 验证使用的SQL语句 -->
    	<property name="validationQuery" value="select 1"></property>
    	<!-- 指明连接是否被空闲连接回收器(如果有)进行检验.如果检测失败,则连接将被从池中去除.  -->
    	<property name="testWhileIdle" value="true"></property>
    	<!-- 借出连接时不要测试，否则很影响性能 -->
    	<property name="testOnBorrow" value="false"></property>
      	 
      	<property name="defaultAutoCommit" value="false" />
      	<!-- 每30秒运行一次空闲连接回收器 -->
      	<property name="timeBetweenEvictionRunsMillis" value="30000" />
      	<!--  池中的连接空闲30分钟后被回收 -->
      	<property name="minEvictableIdleTimeMillis" value="1800000" />
      	<!-- 自动收回超时连接 -->
		<property name="removeAbandonedOnMaintenance" value="true"></property>
		<property name="removeAbandonedOnBorrow" value="true"></property>
      	<!-- 自动回收的超时时间 单位：秒 -->
		<property name="removeAbandonedTimeout" value="180"></property>
		<!-- 在每次空闲连接回收器线程(如果有)运行时检查的连接数量 -->
		<property name="numTestsPerEvictionRun" value="10"></property>
   	</bean>

	<!-- 事务管理器配置,单数据源事务 -->
 	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource" ref="dataSource"/>
	</bean>
   	<!-- 使用annotation定义事务 -->
   	<tx:annotation-driven mode="proxy" transaction-manager="transactionManager" proxy-target-class="true" />
   	
   	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>
</beans>