@charset "UTF-8";
/********************* 所有元素都必须使用的样式 ***********************/
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #0000FF;
}
a:hover {
	color: #204a87;
}
a:visited, a:active {
	color: #0000FF;
}

ul {
	list-style: none;
}

input, textarea, select {
	box-sizing: border-box;
	padding: 0 4px;
	border: 1px solid #8BB8F2; 
}

input:focus {
	background-color: #A4E2C6;
}

div#embed-area {
	display: none;
}

button {
	border: 1px solid #0000FF;
	padding: 5px 8px;
	min-width: 60px;
	background-color: #0099FF;
	color: #FFFFFF;
	margin: auto;
}

button:hover {
	background-color: #0000FF;
	color: #FFFFFF;
	cursor: pointer;
}

/******************** 表单页面，提交按钮区域 **********************/
form div.button-area {
	width: 100%; 
	text-align: center; 
	margin: 26px auto 16px auto;
}

/******************** 通用样式 **********************/
.content-box {
	box-sizing: content-box;
}

.border-box {
	box-sizing: border-box;
}

.body {
	margin: 0;
	padding: 0;
	background-color: #eeeeec;
	font-family: Times, sans-serif, serif, monospace;
	font-size:62.5%;
	overflow-x: auto; 
	overflow-y: auto;
	box-sizing: border-box;
}

/***************** 框架头 ******************/
.header-wrapper {
	width: 100%;
	height: 64px;
	background-color: #729fcf;
	border-bottom: 1px solid #8BB8D2;
	filter: alpha(opacity=80);
	z-index: 101;
}

.header {
	width: 100%;
	height: inherit;
	margin: 0 auto;
}

.logo {
	width: 100px;
	height: 32px;
	border: 1px solid red;
	line-height: 64px;
	vertical-align: center;
}

/******************** 框架 主体容器 **********************/
.container {
	width: 100%;
	margin: 8px auto;
	font: 16px "宋体", Arial ,"黑体";
	border-radius: 8px 8px 0 0;
}
/********************* 框架内容 ********************/
.content-wrapper {
	overflow: auto;
	background-color: #FFFFFF;
	padding: 6px;
}

.content-wrapper.none-space {
	padding-top: 0;
	padding-bottom: 0;
}

/********************** 框架底部 *****************************/
.footer-wrapper {
	width: 100%;
	margin: 8px auto;
	padding: 8px 0;
	text-align: center;
	background-color: #FFFFFF;
	border-radius: 0 0 8px 8px;
}

/****************** 书籍详情 *********************/
/** 书籍列表 */
.book-item {
	box-sizing: border-box;
	width: 100%; 
	padding: 4px; 
	border: 1px solid gray;
	border-radius: 4px;
	margin-bottom: 4px;
}

.subject {
	
}

/** 章节列表 */
.chapter-item {
	box-sizing: border-box;
	width: 100%; 
	padding: 4px; 
	border-bottom: 1px solid gray;
	margin-bottom: 4px;
}
/******************* 书籍内容 ***********************/
.book-title {
	margin-top: 20px;
	padding-bottom: 6px;
	text-align: center; 
	font-size: 1.3em; 
	font-weight: bold;
	border-bottom: 1px dashed #8BB8F2;
}

.book-content {
	background-color: #A4E2C6;
	margin-top: 1.1em;
	padding: 4px;
	word-wrap: break-word;
	word-break: break-all;
	line-height: 150%;
	letter-spacing: 2px;
	font-size: 1.2em;
}

/******************* 书籍内容 按钮 ***********************/
.a-btn {
	box-sizing: border-box;
	border: 1px solid #fcaf3e;
	background-color: #fcaf3e;
	padding: 4px;
	min-width: 200px;
	
}
